body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.nav {
    display: flex;
    background-color: #2c3e50;
    justify-content: space-between;
}

.networks {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 120px;
}
.list {
    margin-left: 120px; 
}
.ph {
    padding-left: 0;
}

.list li {
    display: inline;
    padding-right: 30px;
}
.list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}
.dropdown select {
    background-color: #2c3e50;
    border-color: grey;
    border-radius: 8px;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 9px;
}
.main {
    width: 100%;
    height: 350px;
    background-image: url(images/main-header-1920.jpg);
    background-size: cover;
    background-position: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 20px;
}
.location, .contact, .button {
    display: flex;
    margin-right: 30px;
    gap: 15px
}
.location p, .contact p, .button p {
    margin: 0;
    color: #ffffff;
}
.biggertext{
    font-size: 20px;
}
.buttonText {
    font-size: 15px;
}
.logotype {
    width: 200px;
    height: 50px;
    margin-left: 120px;

}
.righthead {
    display: flex;
    align-items: center;
    margin-right: 100px;
    padding-right: 0;
}
.png {
    width: 45px;
    height: 45px;
}
.png1 {
    width: 35px;
    height: 35px;
}
.button {
    display: flex;
    align-items: center;
    border-radius: 9px;
    border-color: #ffffff;
    background-color: transparent;
    color: white;
    gap: 5px;
    padding: 8px 10px 8px 10px;
    cursor: pointer;
}
.button:hover {
    background-color: #d15309;
    border-color: transparent;
}
.description {
    text-align: center;
    margin-top: 80px;
    color: #ffffff;
}
.second {
    font-weight: bold;
    font-size: 35px;
}
.btn {
    background-color: #d15309;
    border-color: transparent;
    border-radius: 9px;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}


.months{
    margin: 20px 200px 20px 200px;
}
.listnav {
    text-align: center;
}
.listnav li{
    display: inline;
    padding-right: 15px;
}
.listnav a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}



.restdirectionstext{
    margin: 0 150px 0 150px;
    text-align: center;
}
.maintext1{
    font-size: 30px;
}
.restdirections{
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: aliceblue;
}

.iconsflag{
    width: 30px;
    height: 30px;
}
.row{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.bigoptioncountry{
    margin: 60px 250px 30px 250px;
    display: flex;
    justify-content: space-between;
}
.optionscountry a{
    text-decoration:none;
    color: black;  
}



.teacher{
    margin: 20px 250px 20px 250px;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}
.teachertext h1{
    font-size: 30px;
}
.teachertext p{
    font-size: 20px;
    margin-bottom: 50px;
}
.teachertext a{
    text-decoration: none;
}
.teachertext button{
    background-color: #d15309;
    border-radius: 9px;
    border-color: transparent;
    padding: 10px 30px 10px 30px;
}
.teachertext button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.foot {
    background-color: blue;
    padding-top: 30px;
}
.footlist {
    margin: 30px 200px 0 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.policysecurity {
    display: flex;
    align-items: center;
    gap: 10px;
}
.policy {
    width: 20px;
    height: 20px;
}
.footlist a {
    color: #ffffff;
    text-decoration: none;
}
.footlist p {
    color: #ffffff;
}
.footlist ul {
    list-style-type: circle;
}
.navlist1 {
    font-size: 20px;
}


.fixed-block {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    z-index: 999;
    border-radius: 13px;
}
.flex {
    display: flex;
    gap: 10px;
    align-items: center;
}
.flex p {
    margin: 0;
}
.flexbutton {
    padding: 5px;
    text-align: center;
    border-radius: 12px;
    background-color: green;
    color: #ffffff;
    font-weight: bold;
}




